
.header{
    position: fixed;
    width: 100%;
    height: 125px;
    z-index: 1;
}
.login{
    height: 40px;
    background-color:#00142D;
}
.login nav{
    padding-right: 30px;
    position: absolute;
    right: 0;
    display: flex; 
}
.login a{
    color: white;
    padding: 14px 0px 10px 15px;
    text-decoration: none;
    font-size: 14px;
}
.login a:hover
{
    color: #007bff;
}
.login p{
    margin: 8px 6px 6px 25px;
    height: 25px;    
    border-right: .2px solid rgb(187, 187, 187);
}
.logo{
    width: 100%;
    height: 84px;;
    background-color: rgb(255, 255, 255);
}
.logo-wrap{
    width: 1260px;
    display: flex;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -630px;
}
.logo-pic{ 
    width: 158px;
    height: 40px;
    padding-right:16px ;
}
.logo img{
    padding: 30px 30px 30px 55px;
    height: 40px;
    width: 158px;
    height: auto;
}  
.logo-txt{
    padding:35px 0 30px 100px ;
}
.logo a{
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #324255;
}
.logo a:hover{
    color: #007bff;
}
.logo .btn {
    margin: 0 0 0 250px;
    background-color: #0061FF;
    color: white;
    border-radius: 30px;
}
.logo .btn:hover{
    color: rgb(221, 221, 221);
    background-color:#003fa5 ;
}
/* -------------------------------------- */
.banner{
    width: 100%;
    height: 700px;
    background-image: url(title-bg.png);
    background-size: cover;
    display: flex;
    color: rgb(255, 255, 255);
}
.banner-wrap{
    width: 1210px;
    display: flex;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -630px;
    padding: 0 0 0  50px;
}
.banner-txt{
    width: 45%;
    padding: 200px 50px 200px 0px;
}
.banner-txt h1{
    font-size: 40px; 
    font-weight: bold;
    padding-bottom:20px ;   
} 
.banner-txt p{
    font-size: 17px;
    line-height: 30px;
    padding-bottom:50px ;
    font-family: sans-serif;
    font-weight: bold;
}
.email-input{
    background-color: unset;
    font-size: 14px;
    border-width:  0 0 2px;
    color: white;
    width: 220px;
}
.input-btn{
    background-color: #0061ff;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.input-btn:hover{
    color: rgb(221, 221, 221);
    background-color:#003fa5 ;
}
.banner-pic{
    padding-top: 130px;
    width: 55%;       
}
.banner-pic img{
    width: 100%;         
}  
/* ------------------------------------------- */
.title{
    width: 100%;
    height: 400px;
}
.title-txt{
    width: 1260px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -630px;
}
.title h1{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    padding: 50px;
    font-weight: bold;
}
.title p{
    text-align: center;
    line-height: 25px;
    font-family: sans-serif;
}
/* ------------------------------------------------- */
.container{
    width: 100%; 
    height: 2323px;   
}
.container-size{
    width: 1260px;
    left: 50%;
    position: absolute;
    margin: 0 0 0 -630px;
}
.item{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 90px 0;
}
.item:not(:nth-child(4)){
    border-bottom: .5px solid #ccc;
}
.item:nth-child(even)
{
    flex-direction: row-reverse;
}
.item-txt{
    width: 50%;
    height: 400px;
}
.item-txt:nth-child(odd){
    padding-left: 60px;
}
.item-txt:nth-child(even){
    margin-right: 60px;
   
}
.item-pic{
    width: 50%;
    height: 400px;
}
.item-txt h1{
    font-size: 35px;
    line-height: 50px;
    font-weight: bold;
    font-family: sans-serif;
}
.item-txt p{
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 20px;
    padding: 0 0px 40px 0;
}
.item-txt ul{
    width: 600px;
    margin-bottom: 50px;
}
.item-txt li{
    display: inline-block;
    width: 280px;
    height: 30px;
    margin: 3px 0 0 0;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: -20px;
}
.item-txt a{
    text-decoration: none;
}
.item-pic img{
    padding-top: 20px;
    width: 580px;
}
.container li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content:"\f00c";
    padding: 5px 5px;
    background-color: #deebff;
    border-radius: 50%;
    color: #0061ff;
    margin-right: 10px;
}
/* ---------------------------------------- */
.service{
    width: 100%;
    height:760px ;
    background-color: #F4F5F7;
}
.service .sv-title{
    font-size: 30px;
    text-align: center;
    padding: 80px 0 60px 0;
    font-family: sans-serif;
    font-weight: bold;
}
.service-size{
    width: 1260px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -630px;
}
.service-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;   
}
.service-item {
    width: 320px;
    height: 250px;
    margin: 10px;
}
.service-pic{
    margin: 0 auto;
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 20px  rgba(206, 206, 206, 0.74);
}
.service-pic img{
    width: 60px;
    padding: 35px;
}
.service-txt h2{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.service-txt {
    font-size: 15px;
    line-height: 25px;
    padding: 10px;
    font-family: sans-serif;
}
/* ---------------------------------------- */
.recommend{
    width: 100%;
    height: 630px;
    /* background-color: lightcoral; */
}
.recommend h1{
    font-size: 40px;
    text-align: center;
    padding: 80px 0 0 0;
}
.recommend h1 span{
    color: #0061ff;
}
.brand-wrap{
    width: 1260px;
    height: 510px;
    /* background-color: lightgreen; */
    position: absolute;
    left: 50%;
    margin: 0 0 0 -630px;
}
.brand-logo{
    height: 150px;
    padding: 0 50px;
    display: flex;
    border-bottom: .5px solid #ccc;
    margin: 0 50px;
    
}
.brand-logo a{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 35px 35px;
}
.brand-logo a:hover{
    background-color: rgb(177, 198, 253);
    border-bottom: 3px solid #0061ff;
}
.brand-logo img{
    margin: 0 20px;
    height: 80px;
}
.brand-info{
    margin: 30px 0;
    display: flex;
}
.brand-txt{
    width: 43%;
    margin-left: 50px ;
}
.brand-txt a{
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
    color: #0061ff;
}
.brand-txt p{
    padding: 50px 70px 40px 0;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1.5px;
    font-family: sans-serif;
}
.brand-txt .manager {
    color: #777;
    font-size: 14px;   
}
.info-pic{
    width: 57%;
    margin-right:50px ;
}
.info-pic img{
    width: 100%;
    height: 260px;
}
/* -------------------------------- */
.free-trial{
    width: 100%;
    height: 400px; 
    background-color: #172b4d; 
    background-image: url(bg-1.png),url(bg-2.png); 
    background-position: -200px top,110% bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 820px auto, 480px auto;
}
.free-trial-size{
    width: 1260px;
    height: 400px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -630px;
}
.free-trial-size h1{
    padding: 100px 0 50px 50px;
    line-height: 60px;
    font-size: 38px;
    font-family: sans-serif;
    color: white;
}
.free-trial-size .blue{
    margin-top: -85px;
    padding: 10px;
    height: 10x;
    width: 120px;
    background-color:#0061ff;
    margin-left: 50px;
}

.free-trial-size .free-btn{
    margin-left: 50px;
    margin-top: 100px;
    padding: 20px 0;
}
.free-trial-size a{
    background-color: #0061ff;
    padding: 10px 30px 10px 125px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
/* -------------------------------------- */
.information{
    width: 100%;
    height: 660px;
    background-color: #00142D;
    display: flex;
}
.info-wrap{
    width: 1260px;
    position: absolute;
    left: 50%;
    margin: 50px 0 0 -630px;
    border-top:1px solid #777 ;
    display: flex;
    flex-wrap: wrap;
}
.info-size{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-left:  20px;
    height: 500px;  
}
.info-wrap h3{
    font-size: 17px;
    color: white;
    font-family: sans-serif;
    padding-bottom: 10px;
}
ul,h3{
    margin: 30px 0 30px 15px;
    width: 160px;
}
.info-wrap li{
    display: inline-block;
    width: 115px;
    height: 20px;
    margin: 10px 0;
    font-size: 15px;
    font-family: sans-serif;
}
.info-wrap ul a{
    text-decoration: none;
    color: #748094;
}
.info-wrap ul a:hover{
    color: #fff;
}
.covid{
    margin-right: 50px;
}
.cv-btn{
    padding: 10px 30px;
    color: black;
    background-color: #DBF8ED;
    font-size: 15px;
    text-decoration: none;
}
.cv-btn:hover{
    background-color: #dbf8eda4;
}
.bottom{    
    width: 1260px;
    border-top: 1px solid #777;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 40px 0 20px 0;
    margin: 0 50px;
}
.map a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.map a:hover{
    color: #0061ff ;
}
.map a:not(:nth-child(1))::before {
    content: '';
    height: 20px;
    width: 1px;
    background-color: white;
    position: absolute;
    margin: -2px -10px 0 -10px; 
}
.sns-icon a{
    padding: 8px 8px;
    background-color: #172b4d; 
    margin: 0 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50%;
}
.sns-icon a:hover{  
    color: #0061ff;
}
.copyright p{
    font-size: 15px;
    line-height: 20px;
    margin-top: -10px;
    color: #748094;
}
